.top{
    height: 600px;
    width: auto;
    padding-top:1px ;
}
.top-left{
   margin:15% 10% 15% ;
   margin:15% 7% 15% ;
  
}
.input{
    height: 20px;
    width:75%;
}

.down{
    height: 143px;
    width: auto;
}
.text-xl{
    color:rgba(2, 84, 247, 0.886) ;
}
.text-4xl{
    color: rgb(41, 3, 88);
}
.text-l{
    color:rgb(16, 167, 29);
}
.down{
    display: inline;
    margin-bottom: 20px;
    
}
.form-select{
    border: solid black;
    margin: 10px 10px 5px 10px;
    border-radius: 6%;
}
.btn{
    margin: 10px 10px 5px 10px;
    border-radius: 6%;
}

.form-control{
    margin-left: 30px;
    border: solid rgba(0, 0, 0, 0.091);
    border-radius: 6%;
    
}
.input-group-text{
    width:100px;
    text-align: center;
    background-color: rgb(77, 77, 244);
    border: solid rgb(77, 77, 244);
    color:wheat;
    border-radius: 6%;
}